*.pygtex
*.aux
*.toc
*.log
gz
*.out
*.pygtex
*.pygstyle
*.aux
*.log
*.out
*.toc
*.gz

*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.ist
*.run.xml
*.sgg
*.sgi
*.sig
*.sii
*.slg
*.sli
*.sln
*.slr
*.sng
*.sni
*.srg
*.sri
